<launch>
  <!-- Arguments -->
  <arg name="slam_method" default="gmapping" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]"/>
  <!-- The lua scripts are required for cartographer -->
  <arg name="configuration_basename" default="mobile_robot_lds_2d.lua"/>
  <arg name="open_rviz" default="true"/>

  <!-- mobile_robot -->
  <!--include file="$(find mobile_robot_bringup)/launch/mobile_robot_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include-->
  <!-- TODO run robot_state_publisher, this is done if mobile_robot_control/launch/mobile_robot.launch is running before this -->

  <!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map -->
  <include file="$(find mobile_robot_slam)/launch/mobile_robot_$(arg slam_method).launch">
    <arg name="configuration_basename" value="$(arg configuration_basename)"/>
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find mobile_robot_slam)/rviz/mobile_robot_$(arg slam_method).rviz"/>
  </group>
</launch>
