<launch>
    <!-- 
        Launch file follows: 
        http://gazebosim.org/tutorials?tut=ros_control#Createaroslaunchfile
    -->
    <!--arg name="model" default="$(env mobile_robot_MODEL)" doc="model type [mobile_robot, remo]"/-->
    <arg name="model" default="mobile_robot" doc="model type [mobile_robot, remo]"/>

    <!-- Load controller configurations from YAML file to parameter server -->
    <rosparam command="load"
        file="$(find mobile_robot_control)/config/mobile_robot_control.yaml"/>

    <rosparam command="load"
        file="$(find mobile_robot_control)/config/pid.yaml"/>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="mobile_robot" args="joint_state_controller
                                            mobile_base_controller"/>


    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        ns="mobile_robot" respawn="false" output="screen">
        <remap from="/joint_states" to="/mobile_robot/joint_states" />
        <!-- param name="publish_frequency" type="double" value="30.0" /-->
    </node>

    <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
        <param name="default_topic" value="/mobile_robot/mobile_base_controller/cmd_vel"/>
    </node>
</launch>